html {
    background-color: #4BA89E;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
body {
    height: max-content;
    min-height: 1000px;
    background-color: rgb(225, 252, 247);
    margin: auto;

}
header {
    background:linear-gradient(to bottom, rgba(82, 161, 217, 0.609), rgb(125, 82, 217));
    display: flex;
    width: 100%;
    height:auto;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}

form{

    background-color: antiquewhite;
    border-radius: 25px;
    padding: 2%;
}
table{
    margin-left: auto;
    margin-right: auto;

}

td{
    background-color: white;
    border-style:solid;
    border-color: #5B00B4;
}


.menu a:link {
    font-size: 1.2em;
    font-weight: bold;
    background-color: rgba(104,255,215,1.00);
    color: rgba(13,0,132,1.00);
    padding: 1em 3em;
    margin-left: 2px;
}
.menu a:hover {
    color: rgb(23, 0, 99);
    background-color: rgba(225, 252, 247,1.00);
}
a {
    outline: 0;
    text-decoration: none;
    color: rgb(0, 71, 99)
}
footer {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(125, 82, 217, 0.609));
    width: 100%;
    text-align: center;
    list-style: none;
}
footer h3{
    font-size: 2.5em;
}


h1 {
    color: rgb(145, 145, 255);
}
h2 {
    color: rgb(94, 94, 255);
}
h3 {
    color: rgb(39, 39, 217);

}
h4 {
    color: rgb(9, 9, 186);

}
p {
    color: rgb(0, 0, 148);
}

#Ye{
    font-size: 75px;
    flex-wrap: wrap;
    color: blue;
}

#rVin{
    font-size: 75px;
    flex-wrap: wrap;
    color: #E71818;
}
#imgProfile{
	margin-left: auto;
	margin-right: auto;
}
footer {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 50px;
}
@media only screen and (max-width: 1280px) {
    #Yer{
        font-size: 2em;
    }
    #Vin{
        font-size: 2em;
    }
    body {
        width: 100%;
    }

    main {
        margin: 10px;
    }

    nav {
        justify-content: left;
        flex-direction: column;
    }

    table{
        margin-left: 30%;
        margin-right: 30%;
    }


}
@media only screen and (min-width: 1280px){
    #Yer{
        font-size: 3.5em;
    }
    #Vin{
        font-size: 3.5em;
    }
    body {
        width: 90%;
    }
    nav {
        justify-content: center;
        flex-direction: row;
    }
    form{
        margin-left: 35%;
        margin-right: 35%;
    }

}